.button {
  display: block;
  width: 280px;
  min-height: 40px;
  background-color: $green;

  @include font-oswald;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba($color: #ffffff, $alpha: 0.3);
  }
}

.button--grey {
  background-color: $bg-grey;
  color: #444444;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: rgba($color: #444444, $alpha: 0.3);
  }
}
