.button {
  display: block;
  width: 280px;
  min-height: 40px;
  background-color: $green;

  @include font-oswald;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
}

.button--grey {
  background-color: $bg-grey;
  color: #444444;
}
