.main-nav {
  width: 320px;
  margin: 0 auto;
}

.main-nav__toggle {
  position: absolute;
  top: 23px;
  right: 23px;
  border: none;
  display: block;
  width: 18px;
  height: 18px;
  background: url("../img/icon-close.svg") no-repeat;
  cursor: pointer;
}

.main-nav__list {
  @include list-reset;
  color: #111111;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.site-list__item {
  border-top: 1px solid $bg-grey;
  padding: 22px 0;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 490px;
    padding: 0;
    margin: 0;
    margin-left: auto;
    // outline: 2px solid green;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
  }

  .site-list__item {
    border-top: none;
    padding: 10px 0;
    margin-top: 12px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &--active {
      position: relative;
      border-bottom: 2px solid #68b738;
    }
  }

  .site-list__item:not(:last-child) {
    margin-right: 35px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 50%;
    margin-left: auto;
    padding-left: 130px;
    padding-top: 21px;
  }

  .main-nav__list {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;

    &--index {
      color: #ffffff;
    }
  }

  .main-nav__list--index .site-list__item:hover {
    opacity: 0.6;
  }

  .main-nav__list--index .site-list__item:active {
    opacity: 0.3;
  }

  .site-list__item {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
  }

  .site-list__item:last-child {
    // margin-right: 30px;
  }
}
