.main-nav {

}

.main-nav__toggle {

}

.main-nav__list {
  @include list-reset;
  color: #111111;
  font-family: Oswald, Arial, sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

