@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin font-oswald {
  font-family: "Oswald", "Arial", sans-serif;
}

@mixin no-outline() {
  outline: none;
  background: transparent;

  &::before {
    display: none;
  }
}
