.page-footer {
  // background-color: $bg-grey;
}

.page-footer__wrapper {
  background-color: $bg-grey;
}

.page-footer__logo {
  display: block;
  padding-top: 46px;
  margin-bottom: 32px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__logo-image {
  display: block;
  margin: 0 auto;
}

.page-footer__socials {
  // width: 320px;
  // margin: 0 auto;
}

.footer-socials__list {
  @include list-reset;
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 23px;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}

.footer-socials__item {
  margin-right: 40px;
}

.footer-socials__item:last-child {
  margin-right: 0;
}

.footer-socials__icon {
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    fill: #68b738;
    opacity: 0.3;
  }
}

.page-footer__copyright {
  width: 280px;
  margin: 0 auto;
  min-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright__developer-name {
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;

  &:active {
    opacity: 0.3;
  }
}

.footer-copyright__developer-logo-image {
  fill: #666666;
  width: 40px;
  height: 42px;
  margin-right: -7px;
  padding-top: 3px;

  &:hover {
    fill: #68b738;
  }

  &:active {
    fill: #68b738;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper .container {
    display: flex;
    // width: $tablet-width;
    // margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 150px;
    align-items: center;
  }

  .page-footer__wrapper .contacts {
    padding: 60px 70px;
  }

  .page-footer__logo {
    width: 132px;
    // outline: 1px solid green;
    margin: 0;
    padding: 0;
  }

  .page-footer__logo-image {
    margin: 0;
  }

  .page-footer__socials {
    // width: 324px;
    margin-left: 74px;
    // outline: 1px solid blue;
  }

  .footer-socials__list {
    border: none;
    // margin: 0;
    padding: 0;
  }

  .footer-socials__item {
    margin: 0;
    padding: 0;
    margin-right: 40px;
  }

  .footer-socials__icon {
    &--vkontakte {
      width: 30px;
      height: 16px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
    }

    &--facebook {
      width: 14px;
      height: 28px;
    }
  }

  .page-footer__copyright {
    width: 162px;
    // outline: 1px solid yellow;
    margin: 0;
    padding: 0;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    position: relative;
  }

  .page-footer__wrapper .container {
    padding-left: 40px;
    padding-right: 40px;
    // outline: 1px solid blue;
    justify-content: space-between;
  }

  .page-footer__socials {
    margin: 0;
  }

  .page-footer__copyright {
    margin: 0;
  }
}
