.advantages {
  width: 320px;
  margin: 0 auto;
}

.advantages__title {
  @include font-oswald;
  margin-left: 20px;
  margin-right: 20px;
  color: #111111;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  margin-top: 17px;
  margin-bottom: 17px;
}

.advantages__list {
  @include list-reset;
  width: 280px;
  margin-left: 20px;
  margin-right: 20px;
}

.advantages__item {
  display: flex;
  align-items: center;
  margin-bottom: -2px;
}

.advantages__number {
  display: none;
}

.advantages__icon {
  width: 60px;
  height: 60px;
  background-color: $green;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item:nth-child(1) .advantages__icon {
  background-image: url("../img/advantage-leaf@1x.png");
}

.advantages__item:nth-child(2) .advantages__icon {
  background-image: url("../img/advantage-powder@1x.png");
}

.advantages__item:nth-child(3) .advantages__icon {
  background-image: url("../img/advantage-dining@1x.png");
}

.advantages__item:nth-child(4) .advantages__icon {
  background-image: url("../img/advantage-clock@1x.png");
}

.advantages__description {
  width: 195px;
}

.advantages__description br {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantages {
    width: $tablet-width;
  }

  .advantages__title {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 45px;
    margin-bottom: 72px;
    font-size: 60px;
    line-height: 60px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .advantages__item {
    position: relative;
    flex-wrap: wrap;
    width: 324px;
    margin-right: 60px;
  }

  .advantages__item:nth-child(2n) {
    margin-right: 0;
  }

  .advantages__number {
    position: absolute;
    display: block;
    top: -39px;
    left: 116px;
    z-index: -1;

    @include font-oswald;
    color: #f2f2f2;
    font-size: 281px;
    font-weight: 400;
    line-height: 281.07px;
  }

  .advantages__icon {
    width: 80px;
    height: 80px;
    margin-bottom: 16px;
  }

  .advantages__description {
    width: 250px;
    margin-right: 60px;
    margin-bottom: 135px;
    font-size: 16px;
    line-height: 24px;
  }

  .advantages__description br {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: $desktop-width;
    padding-left: 10px;
  }

  .advantages__list {
    width: 1225px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .advantages__item {
    width: 250px;
  }

  .advantages__item:nth-child(2n) {
    margin-right: 60px;
  }

  .advantages__item:last-child {
    margin-right: 0;
  }

  .advantages__description {
    width: 250px;
    margin-right: 0px;
  }
}
