.contacts__partnership {
  @include font-oswald;
  margin-left: 20px;
  margin-right: 20px;
  color: #111111;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}

.contacts__address {
  margin-left: 20px;
  margin-right: 20px;
  line-height: 20px;
}

.contacts__map {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .contacts {
    width: $tablet-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: none; //временно
    position: absolute;
    width: 570px;
    top: 15%;
    left: 15%;
    z-index: 1;
    background-color: #ffffff;
  }
}
