.first-screen {
  background: url("../img/index-background-mobile@1x.jpg") no-repeat top center, linear-gradient(to bottom, #64a83b 0, #64a83b 305px, #ffffff 305px, #ffffff 100%);

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/index-background-mobile@2x.jpg") no-repeat top center, linear-gradient(to bottom, #64a83b 0, #64a83b 305px, #ffffff 305px, #ffffff 100%);
    background-size: 320px auto;
  }

  @include font-oswald;
}

@media (max-width: $mobile-width-only) {
  .first-screen.container {
    width: 100%;
  }

  .first-screen__wrapper {
    padding: 0 20px;
    width: 320px;
    margin: 0 auto;
  }
}

.first-screen__title {
  margin-top: 0;
  padding-top: 28px;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.first-screen__slogan {
  padding-bottom: 30px;
  display: block;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .first-screen {
    background-image: none;
  }

  .first-screen__wrapper {
    margin: 0 30px;
    position: relative;
  }

  .first-screen__title {
    width: 420px;
    color: #111111;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-left: 87px;
  }

  .first-screen__slogan {
    width: 300px;
    color: #111111;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 40px;
    text-align: left;
    margin-left: 88px;
  }

  .first-screen__img-product {
    width: 709px;
    margin-top: -49px;
  }

  .first-screen__wrapper .first-screen__choose-program {
    position: absolute;
    width: 245px;
    height: 52px;
    top: 257px;
    left: 89px;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .first-screen {
    min-height: 580px;
  }

  .first-screen::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 696px;
    top: -115px;
    right: 0;
    z-index: -1;
    background: no-repeat url("../img/index-background-desktop@1x.jpg"), #64a83b;
    background-position: right;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: no-repeat url("../img/index-background-desktop@2x.jpg"), #64a83b;
      background-size: 720px;
      background-position: right;
    }
  }

  .first-screen__title {
    padding-top: 107px;
    padding-left: 2px;
  }

  .first-screen__wrapper .first-screen__choose-program {
    top: 341px;
    left: 89px;
  }

  .first-screen__img-product {
    width: 552px;
    position: absolute;
    top: 76px;
    left: 460px;
  }
}
