.page-main {
  width: 320px;
  margin: 0 auto;
}

.page-main__title {
  @include font-oswald;
  color: #111111;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
}

.page-main__subtitle {
  @include font-oswald;
  color: #111111;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .page-main {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    width: $desktop-width;
  }
}
