.extra__title {
  @include font-oswald;
  color: #111111;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  margin-left: 20px;
  margin-bottom: 31px;
}

.extra__list {
  @include list-reset;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 42px;
}

.extra__item {
  border-top: 1px solid $bg-grey;
  margin-bottom: -1px;
}

.extra__item:last-child {
  border-bottom: 1px solid $bg-grey;
}

.extra__name {
  @include font-oswald;
  color: #111111;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.extra__table {
  font-size: 14px;
  line-height: 14px;
  width: 100%;
  margin-bottom: -3px;
}

.extra-table__count {
  text-align: left;
}

.extra-table__price {
  text-align: right;
}

.extra__order {
  margin-top: 15px;
  margin-bottom: 15px;
}

.extra__order.button {
  font-size: 16px;
  line-height: 40px;
}

.extra__promo {
  margin: 0 20px;
  min-height: 289px;
  background-image: url("../../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  margin-bottom: 35px;
}

.extra-promo__offer {
  position: relative;
  margin: 0 auto;
  padding-top: 186px;
  width: 162px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 60px;
    background: url("../img/icon-gift.svg") no-repeat;
    top: 65px;
    left: 54px;
  }
}
